body {
  font-family: "Jost", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

.sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #f53626;
  letter-spacing: 1px;
}

.hny-title {
  color: #000c04;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.read:hover {
  color: #189a46;
}

.pSub {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

header {
  background-color: #fff;
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
header .container {
  height: 90px;
}
header .container .navbar .container-fluid a h1 {
  color: #189a46;
  font-size: 34px;
  font-weight: 600;
}
header .container .navbar .container-fluid .navbar-collapse {
  display: block !important;
}
header .container .navbar .container-fluid .navbar-collapse ul {
  justify-content: end;
}
header .container .navbar .container-fluid .navbar-collapse ul li {
  font-weight: 400;
  font-size: 20PX;
  padding: 0 12px;
  transition: all 0.5s;
}
header .container .navbar .container-fluid .navbar-collapse ul li .nav-link {
  color: #000c04;
}
header .container .navbar .container-fluid .navbar-collapse ul li .nav-link.active {
  color: #189a46 !important;
}
header .container .navbar .container-fluid .navbar-collapse ul li:hover .nav-link {
  color: #189a46 !important;
}

.caurousel {
  margin-top: 90px;
  background: url(../img/banner4.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 1em 0;
}
.caurousel .caurousel-content {
  position: relative;
}
.caurousel .caurousel-content .container h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}
.caurousel .caurousel-content .container ul {
  display: flex;
  justify-content: center;
}
.caurousel .caurousel-content .container ul li {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.caurousel .caurousel-content .container ul li a {
  color: #189a46;
}
.caurousel::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.gallery .container {
  padding-top: 70px;
}
.gallery .container .gallery-header h6.sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #f53626;
  letter-spacing: 1px;
}
.gallery .container .gallery-header .hny-title {
  color: #000c04;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.gallery .container .item-group .row .gallery-item {
  padding: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.gallery .container .item-group .row .gallery-item img {
  border-radius: 10px;
  width: 100%;
}
.gallery .container .item-group .row .gallery-item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.gallery .container .item-group .row .gallery-item:hover::before {
  left: 125%;
  transition: all 0.5s;
}