@import '../body/body';

@import '../header/header';

@import '../carousel/carousel';
@import '../footer/footer';

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #189a46;
    --secondary: #f53626;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  :root {
    --primary-color: #189a46;
    --secondary-color: #f53626;
    --font-color: #696969;
    --bg-color: #fff;
    --heading-color: #000c04;
    --border-radius: 10px;
    --border-color: #ddd;
    --border-light: #f0f3f0;
    --nav-color: #292922;
    --dropdown-color: #fff;
    --bg-light: rgba(147, 107, 232, 0.05);
    --iframe-filter: grayscale(0%);
    --widget-bg: #3f3a64;
  }

  .text-right {
    text-align: right !important;
  }
  
  .btn-style {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius);
  }
  .btn-primary {
    color: #fff;
    background-color: #189a46;
    border-color: #189a46;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #116e32;
    border-color: #116e32;
  }

/*--/blog--*/
.w3l-blog-block {
    background-color: var(--bg-light);
  }
  
  .card {
    border: none;
    background: var(--bg-color);
    transition: .3s ease;
    border-radius: 8px;
  }
  
  .card-header {
    border: none;
  }
  
  .card-header img {
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .blog-details {
    background: var(--bg-color);
    padding: 30px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
  }
  
  a.blog-desc {
    display: block;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 6px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    text-transform: capitalize;
  }
  
  a.blog-desc:hover,
  a.blog-desc1:hover,
  a.blog-desc-big:hover {
    color: var(--primary-color);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
  }
  
  a.blog-desc1 {
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 10px;
  }
  
  a.blog-desc-big {
    display: block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: var(--heading-color);
    margin-bottom: 20px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
  }
  
  li.meta-item {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: #888;
  }
  
  li.meta-item:last-child {
    margin-right: 0px;
  }
  
  .author {
    color: #999;
  }
  
  .author a {
    color: var(--heading-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  
  .card:hover .card-body {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
  }
  
  .card:hover {
    transform: translateY(-0.5rem);
    transition: .3s ease;
  }
  
  .author a:hover {
    color: var(--secondary-color);
  }
  
  .list-view .grids5-info {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
  }
  
  .list-view.list-view1 .grids5-info {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-gap: 5%;
  }
  
  .page-pagination li {
    display: inline-block;
    margin: 0 5px;
  }
  
  span.page-numbers {
    display: block;
    text-align: center;
    border: 0;
    color: var(--primary-color);
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
  }
  
  a.page-numbers {
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
    width: 20px;
    display: block;
    text-align: center;
  }
  
  a.next span.fa {
    font-size: 20px;
    font-weight: 600;
    color: var(--heading-color);
    width: 20px;
    display: block;
  }
  
  a.page-numbers:hover {
    color: var(--primary-color);
  }
  
  ul.location-top {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  li.design {
    display: inline-block;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 600;
    background: var(--primary);
  }
  
  .w3l-blog-single .w3l-blog-single1 .single-post-content-1 {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single1 ul.blog-list li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
  }
  
  .w3l-blog-single .w3l-blog-single1 .blog-list {
    margin-bottom: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .w3l-blog-single .w3l-blog-single1 ul.blog-list p {
    margin: 0;
    font-size: 16px;
  }
  
  .w3l-blog-single .w3l-blog-single1 ul.blog-list span.fa {
    color: var(--heading-color);
  }
  
  .w3l-blog-single .w3l-blog-single1 .text {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  
  .w3l-blog-single .w3l-blog-single1 .text-bg-image {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single1 h2.text-heading {
    font-size: 45px;
    line-height: 50px;
    color: var(--heading-color);
    margin: 15px 0;
    font-weight: 700;
  }
  
  .w3l-blog-single .w3l-blog-single1 .d-grid-2 {
    display: grid;
    grid-template-columns: 100%;
  }
  
  .w3l-blog-single .w3l-blog-single1 p.text2-text {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .w3l-blog-single .w3l-blog-single1 p.text2-text2 {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0 0;
    color: var(--para-color);
  }
  
  @media (max-width: 1024px) {
    .w3l-blog-single .w3l-blog-single1 h2.text-heading {
      font-size: 40px;
    }
  }
  
  @media (max-width: 900px) {
    .w3l-blog-single .w3l-blog-single1 h2.text-heading {
      font-size: 35px;
    }
  }
  
  @media (max-width: 767px) {
    .w3l-blog-single .w3l-blog-single1 h2.text-heading {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 568px) {
    .w3l-blog-single .w3l-blog-single1 h2.text-heading {
      font-size: 25px;
      line-height: 36px;
    }
  }
  
  .w3l-blog-single .w3l-blog-single2 blockquote {
    max-width: 900px;
    margin: 0 auto;
    border-left: 3px solid var(--para-color);
    padding-left: 45px;
    background: var(--light-bg-color);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
  }
  
  .w3l-blog-single .w3l-blog-single2 blockquote q {
    color: var(--heading-color);
    font-size: 28px;
    line-height: 40px;
  }
  
  .w3l-blog-single .w3l-blog-single2 .text-styles-top-33 q:before {
    font-size: 50px;
    color: var(--secondary-color);
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
  }
  
  .w3l-blog-single .w3l-blog-single2 .w3l-text-styles-33_sur p {
    font-size: 22px;
    line-height: 33px;
    color: var(--primary);
  }
  
  .w3l-blog-single .w3l-blog-single3 .d-grid {
    display: grid;
  }
  
  .w3l-blog-single .w3l-blog-single3 .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single3 .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single3 .grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single3 a.action {
    border: none;
    color: #304659;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    display: inline-block;
  }
  
  .w3l-blog-single .w3l-blog-single3 a.action img {
    margin-left: 4px;
  }
  
  .w3l-blog-single .w3l-blog-single3 .align-center {
    text-align: center;
  }
  
  .w3l-blog-single .w3l-blog-single3 .d-grid.grid-text-9 {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single3 h4.text-head-text-9 a {
    font-size: 28px;
    line-height: 40px;
    color: var(--heading-color);
    margin-bottom: 25px;
    font-weight: 600;
    display: inline-block;
  }
  
  .w3l-blog-single .w3l-blog-single3 h5.sub-head-text-9 {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--para-color);
    margin-bottom: 40px;
    font-style: italic;
  }
  
  .w3l-blog-single .w3l-blog-single3 p.sub-para {
    margin-top: 20px;
  }
  
  .w3l-blog-single .w3l-blog-single3 nav.post-navigation {
    border-top: 1px solid var(--bg-light);
    border-bottom: 1px solid var(--bg-light);
  }
  
  .w3l-blog-single .w3l-blog-single3 span.nav-heading {
    font-size: 16px;
    display: block;
    margin-bottom: 9px;
    color: var(--para-color);
  }
  
  .w3l-blog-single .w3l-blog-single3 .post-prev a,
  .w3l-blog-single .w3l-blog-single3 .post-next a {
    font-size: 18px;
    line-height: 25px;
    color: var(--heading-color);
    transition: 0.3s ease-in;
  }
  
  .w3l-blog-single .w3l-blog-single3 .post-prev a:hover,
  .w3l-blog-single .w3l-blog-single3 .post-next a:hover {
    color: var(--primary);
    transition: 0.3s ease-in;
  }
  
  .w3l-blog-single .w3l-blog-single3 a.posts-view-left {
    display: grid;
    grid-template-columns: 23% 72%;
    grid-gap: 4%;
    align-items: center;
  }
  
  .w3l-blog-single .w3l-blog-single3 a.posts-view-right {
    display: grid;
    grid-template-columns: 72% 23%;
    grid-gap: 4%;
    align-items: center;
  }
  
  .w3l-blog-single .w3l-blog-single3 span.nav-title {
    color: #999;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .social-share-blog ul.social li {
    display: inline-block;
    margin: 0;
    margin-right: 7px;
    margin-top: 5px;
  }
  
  .social-share-blog ul.social a {
    margin-left: inherit;
    color: #9ba0ac;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .social-share-blog ul.social h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--heading-color);
  }
  
  .social-share-blog ul.social a.facebook span.fa {
    color: #3b5998;
  }
  
  .social-share-blog ul.social a.twitter span.fa {
    color: #1da1f2;
  }
  
  .social-share-blog ul.social a.instagram span.fa {
    color: #c13584;
  }
  
  .social-share-blog ul.social a.linkedin span.fa {
    color: #0077b5;
  }
  
  .social-share-blog ul.social a:hover {
    opacity: .6;
  }
  
  .w3l-blog-single .w3l-blog-single3 a.posts-view label {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--heading-color);
  }
  
  .w3l-blog-single .w3l-blog-single3 a.posts-view label:hover {
    color: var(--primary-color);
  }
  
  @media (max-width: 767px) {
    .w3l-blog-single .w3l-blog-single3 a.posts-view-left {
      grid-template-columns: 100%;
      grid-gap: 0%;
    }
  
    .w3l-blog-single .w3l-blog-single3 a.posts-view-right {
      grid-template-columns: 100%;
      grid-gap: 0%;
    }
  }
  
  @media (max-width: 568px) {
  
    .w3l-blog-single .w3l-blog-single3 .post-prev a,
    .w3l-blog-single .w3l-blog-single3 .post-next a {
      font-size: 16px;
      line-height: 22.5px;
    }
  }
  
  @media (max-width: 768px) {
    .w3l-blog-single .w3l-blog-single3 h4.text-head-text-9 a {
      font-size: 24px;
      line-height: 34px;
    }
  
    .w3l-blog-single .w3l-blog-single3 p.sub-para {
      margin-top: 15px;
    }
  
    .w3l-blog-single .w3l-blog-single2 blockquote q {
      font-size: 24px;
      line-height: 34px;
    }
  }
  
  @media (max-width: 600px) {
    .w3l-blog-single .w3l-blog-single3 h4.text-head-text-9 a {
      margin: 10px 0 20px;
      font-size: 22px;
      line-height: 32px;
    }
  
    .w3l-blog-single .w3l-blog-single3 h5.sub-head-text-9 {
      font-size: 18px;
      margin-bottom: 30px;
    }
  
    .w3l-blog-single .w3l-blog-single3 hr {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .w3l-blog-single .w3l-blog-single2 blockquote q {
      font-size: 22px;
      line-height: 32px;
    }
  
    .w3l-blog-single .w3l-blog-single3 h4.text-head-text-9 a {
      font-size: 20px;
      line-height: 30px;
    }
  }
  
  @media (max-width: 415px) {
    .w3l-blog-single .w3l-blog-single2 blockquote {
      padding-left: 30px;
    }
  
    .w3l-blog-single .w3l-blog-single2 blockquote q {
      font-size: 20px;
      line-height: 30px;
    }
  
    .social-share-blog ul.social li {
      margin-right: 2px;
    }
  }
  
  .w3l-blog-single .w3l-blog-single4 .media {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 30px;
    grid-gap: 20px;
  }
  
  .w3l-blog-single .w3l-blog-single4 .img-circle {
    width: 80px;
    height: 80px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
  }
  
  .w3l-blog-single .w3l-blog-single4 .img-circle-sm {
    width: 65px;
    height: 65px;
  }
  
  .w3l-blog-single .w3l-blog-single4 .img-circle img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-top-30 {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur h5 {
    font-size: 20px;
    line-height: 25px;
    color: var(--heading-color);
    font-weight: 600;
  }
  
  .w3l-blog-single h3.title-blog {
    font-size: 28px;
    line-height: 40px;
    color: var(--heading-color);
    margin-bottom: 25px;
    font-weight: 600;
    display: inline-block;
  }
  
  .w3l-blog-single .w3l-blog-single4 section.text-styles-30_sur {
    background: #F5F9FC;
    padding: 80px 0;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur span {
    font-size: 15px;
    line-height: 20px;
    color: #ababab;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 15px;
  }
  
  .w3l-blog-single .w3l-blog-single4 a.reply {
    color: var(--primary-color);
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
    font-weight: 600;
  }
  
  .w3l-blog-single .w3l-blog-single4 a.reply:hover {
    text-decoration: underline;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-31-top_sur {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-gap: 20px;
    padding-top: 1.5em;
    margin-top: 1.5em;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-31-right_sur {
    border-bottom: 1px solid rgba(130, 152, 171, 0.350588);
    padding-bottom: 15px;
  }
  
  .w3l-blog-single .w3l-blog-single4 .text-styles-31-left_sur img {
    border-radius: 50%;
  }
  
  @media (max-width: 900px) {
    .w3l-blog-single .w3l-blog-single4 section.text-styles-30_sur {
      padding: 50px 0;
    }
  
    .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur h5 {
      font-size: 20px;
      line-height: 25px;
    }
  
    .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur h3 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur h3 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 667px) {
    .w3l-blog-single .w3l-blog-single4 section.text-styles-30_sur {
      padding: 50px 30px;
    }
  }
  
  @media (max-width: 480px) {
    .w3l-blog-single .w3l-blog-single4 .text-styles-31-top_sur {
      grid-gap: 20px;
    }
  }
  
  @media (max-width: 440px) {
    .w3l-blog-single .w3l-blog-single4 .text-styles-30_sur h3 {
      font-size: 22px;
    }
  }
  
  @media (max-width: 415px) {
    .w3l-blog-single .w3l-blog-single4 section.text-styles-30_sur {
      padding: 30px 0;
    }
  
    .w3l-blog-single .w3l-blog-single4 .text-styles-31-top_sur {
      grid-template-columns: 1fr;
    }
  
    .w3l-blog-single h3.title-blog {
      font-size: 24px;
      line-height: 30px;
    }
  }
  
  .w3l-blog-single .w3l-blog-single5 .card-style {
    border-radius: 0;
    border: 1px solid #eee;
  }
  
  .w3l-blog-single .w3l-blog-single5 .grid-column {
    transition: 0.3s ease-in;
    border-radius: var(--card-curve);
  }
  
  .w3l-blog-single .w3l-blog-single5 .grid-column:hover {
    transition: 0.3s ease-in;
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
  }
  
  .w3l-blog-single .w3l-blog-single5 .horizontal-align {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single5 img.card-img-top {
    width: 100%;
  }
  
  .w3l-blog-single .w3l-blog-single5 h4.card-heading {
    font-size: 18px;
    color: var(--heading-color);
    display: inline-block;
    font-weight: 700;
  }
  
  .w3l-blog-single .w3l-blog-single5 h4.card-heading:hover {
    color: var(--primary);
  }
  
  .w3l-blog-single .w3l-blog-single5 p.image-caption {
    font-size: 15px;
    line-height: 20px;
    color: var(--primary);
    display: inline;
    padding-right: 5px;
    font-weight: 500;
  }
  
  .w3l-blog-single .w3l-blog-single5 p.card-text {
    font-size: 16px;
    line-height: 20px;
    color: var(--para-color);
  }
  
  .w3l-blog-single .w3l-blog-single5 .card-body {
    border: 1px solid var(--border-light);
    border-radius: 0 0 8px 8px;
    border-top: none;
  }
  
  .w3l-blog-single .w3l-blog-single5 .card-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
  }
  
  .w3l-blog-single .w3l-blog-single5 .card-grid-column2 {
    text-align: right;
  }
  
  .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
    font-size: 35px;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .w3l-blog-single .w3l-blog-single5 h4.card-heading:hover {
    color: #000;
  }
  
  @media (max-width: 1024px) {
    .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 900px) {
    .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
      font-size: 30px;
    }
  
    .w3l-blog-single .w3l-blog-single5 p.image-caption {
      margin-top: 12px;
    }
  
    .w3l-blog-single .w3l-blog-single5 .card-grid {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 10px;
    }
  
    .w3l-blog-single .w3l-blog-single5 .card-grid-column2 {
      text-align: left;
    }
  }
  
  @media (max-width: 768px) {
    .w3l-blog-single .w3l-blog-single5 p.image-caption {
      font-size: 14px;
    }
  
    .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
      margin-bottom: 10px;
    }
  
    .w3l-blog-single .w3l-blog-single5 p.card-text {
      margin-top: 5px;
    }
  
    .w3l-blog-single .w3l-blog-single5 .card-grid {
      grid-gap: 2px;
    }
  }
  
  @media (max-width: 600px) {
    .w3l-blog-single .w3l-blog-single5 img.card-img-top {
      margin-top: 0;
    }
  }
  
  @media (max-width: 414px) {
    .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
      font-size: 24px;
    }
  }
  
  @media (max-width: 375px) {
    .w3l-blog-single .w3l-blog-single5 h3.grids-heading {
      font-size: 22px;
    }
  }
  
  .w3l-blog-single .w3l-blog-single6 .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single6 .grid-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single6 .grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .w3l-blog-single .w3l-blog-single6 .align-items-center {
    align-items: center;
  }
  
  .w3l-blog-single .w3l-blog-single6 a.action img {
    margin-left: 4px;
  }
  
  .w3l-blog-single .w3l-blog-single6 p.text-tag {
    color: #8298AB;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .w3l-blog-single .w3l-blog-single6 .content-29-form {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .w3l-blog-single .w3l-blog-single6 h3.heading-cont-foem29 {
    font-size: 35px;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .w3l-blog-single .w3l-blog-single6 .w3l-forms-29-form input,
  .w3l-blog-single .w3l-blog-single6 form textarea {
    outline: none;
    width: 100%;
    text-align: left;
    -webkit-appearance: none;
    display: grid;
    grid-template-columns: .1fr 1fr;
    align-items: center;
    border-radius: 6px;
    min-height: 60px;
    padding: 13px 20px;
    border: 1px solid #f7f6f9;
    border: 1px solid var(--bg-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #293043;
    background-color: var(--bg-light);
  }
  
  .w3l-blog-single .w3l-blog-single6 .w3l-forms-29-form input:focus,
  .w3l-blog-single .w3l-blog-single6 form textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
    box-shadow: none;
  }
  
  .w3l-blog-single .w3l-blog-single6 form textarea {
    height: 150px;
    padding: 15px 20px;
  }
  
  .w3l-blog-single .w3l-blog-single6 .w3l-forms-29-form {
    margin: 0px auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  
  @media (max-width: 480px) {
    .w3l-blog-single .w3l-blog-single6 h3.heading-cont-foem29 {
      font-size: 24px;
    }
  }
  
  @media (max-width: 415px) {
    .w3l-blog-single .w3l-blog-single6 .w3l-forms-29-form {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }
  
    .w3l-blog-single .w3l-blog-single6 .w3l-forms-29-form input,
    .w3l-blog-single .w3l-blog-single6 form textarea {
      font-size: 17px;
    }
  }
  