@import '../body/body';

@import '../header/header';
@import '../carousel/carousel';
@import '../footer/footer';
.gallery {
    .container {
        padding-top: 70px;

        .gallery-header {
            h6.sub-title {
                @include subTitle();
            }

            .hny-title {
                @include hnyTitle();
            }
        }

        .item-group {
            .row {
                // padding-bottom: 30px;
                .gallery-item {
                    padding: 15px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;

                    img {
                        border-radius: 10px;
                        width: 100%;
                    }

                    &::before {
                        content: "";
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: -100%;
                        display: block;
                        background: linear-gradient(to right,
                                rgba(255, 255, 255, 0) 0%,
                                rgba(255, 255, 255, 0.3) 100%);

                        transform: skewX(-25deg);
                    }

                    &:hover::before {
                        left: 125%;
                        transition: all 0.5s;
                    }
                }


            }
        }
    }
}